@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: #d4d4d4;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);    
    border-radius: 20px;       
    border: none;
  }


body {
    background-image: url('../img/fondo.png');
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
}

h1, h2, p {
    margin: 0;
}


img {
    object-fit: contain;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    margin-bottom: 30px;
}

.main-list {
    display: flex;
    align-items: center;
    gap: 10px;
}


.main__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
}

.creat__link {
    display: block;
    width: inherit;
    height: inherit;
    background: url(../img/plus.svg) no-repeat;
    background-size: 200px 200px;
    background-position: center;
}


.creat-form {
    padding: 0 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.form__inputs label {
    width: 80%;
}

.form__input {
    background: #F8FAFC;
    padding: 10px;
    height: 20px;
    color: #000000;
    font: inherit;
    border: 1px solid #575757;
    width: 200px;
}
.form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.form__text {
    background: #173a1c;
    padding: 10px;
    color: #000000;
    font: inherit;
    border: none;
    width: 94%;
}

.form__button {
    border: 2px solid #575757;
    background: #131b66;
    color: #ffffff;
    padding: 10px;
    font: inherit;
    width: 200px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s;
    align-items: center;
}

.form__button:hover {
    color: #e4f7ff;
    background:  #040724;;
    transform: scale(1.05);
}
.form__group {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; 
}




.main {
    padding: 0 5%;
}

.main__block {
    background: #b3b3b8;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__subtitle {
    text-align: center;
    margin-bottom: 50px;
}

.main__text {
    line-height: 30px;
    margin-bottom: 40px;
    white-space: pre-wrap;
    align-self: flex-start;
}

.main__link {
    display: block;
    border: 1px solid #ff05c0;
    background: #ff05c0;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    font: inherit;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.main__link:hover {
    color: #F8FAFC;
    background:  rgb(255, 0, 119);
}


.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px; /* Ocupa toda la altura de la ventana */
  margin-top: -80px;

}
.login {
    width: 30%;
    padding: 0 5%;
    background: #c4c4c4;
    margin-left: 900px;
    margin-top: 0px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 10px rgba(0, 29, 2, 0.1);
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}


.login label {
    width: 60%;
}


.reg__link {
    height: fit-content;
    text-align: center;
    padding: 10px 0px;
    background-color: transparent;
    border:transparent;
    color: #000000;
    font-size: 15px;
}
.reg__link_texto{
    padding: 0;
    color: #252525;
    font-size:  13px;
    text-align: center;
}


.reg__link_texto:hover{
    color: #4c00ff;
    transform: scale(1.05);
}

.error {
    font-size: 10px;
    color: #fff;
}

.login__link:hover {
    color: rgba(14, 165, 233, 1);
    
}


.text{
    font-size: 35px;
    text-align: center;
    padding-bottom: 50px;
    padding-right: 10px;
}

.titulo{
  position: absolute; 
  top:  50%;           
  left: 40%;           
  transform: translateX(-50%); 
  font-size: 80px;
  color: #fff;
  white-space: nowrap; 
  z-index: 10; 
}