<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto_final</title>
    <link rel="stylesheet" href="../static/css/articulo.css">
</head>
<body>
  <div class="titulo-principal1">
    <p>Articulos</p>
    <button class="boton" type="button" onclick="window.location.href='/index'">Inicio</button>
    <button class="boton" type="button" onclick="window.location.href='/login'">Cerrar sesión</button>
  </div>
</body>
</html>
  <div class="articulos_contenedor">
    <div class="articulo_caja">
      <button class="articulo_interactuar" type="button" onclick="window.location.href='/articulo_info'">Como cuidar el agua desde tu casa</button>
      <h2 class="articulo_encabezado">En este articulo aprenderas a como cuidar el agua y maximizar su uso </h2>
      <header class="header">
        <img class="cuidar_agua_portada" src="../static/img/cuidar_agua_portada.png" width="300" height="300" alt="post_icon">
        </ul>
      </header>
    </div>

    <div class="articulo_caja">
      <button class="articulo_interactuar" type="button" onclick="alert('No hago nada jejeje')">Informacion</button>
      <h2 class="articulo_encabezado">Introduce encabezado</h2>
    </div>

  </div>