<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articulo_agua</title>
    <link rel="stylesheet" href="../static/css/articulo_info.css">
</head>
<body>
    <div class="caja_de_titulo">
        <p>Como cuidar el agua en casa</p>
    </div>

    <div class="caja_redirigir">
        <button class="boton" type="button" onclick="window.location.href='/articulo'">Articulos</button>
        <button class="boton-imagen" onclick="window.location.href='/index'">
      <img src="../static/img/casa.png" width="50" height="50" alt="pos_icon">
        </button>
        <button class="boton" type="button" onclick="window.location.href='/login'">Cerrar sesión</button>
    </div>

    <img class="grifo" src="../static/img/grifo.png" width="200" height="200" alt="post_icon">

    <section class="articulo">
        <p>En este articulo aprenderas a como cuidar el agua y maximizar su uso, aprenderas varios tips que podras aplicar en tu dia a dia.</p>
        <p>Tip 1.- Cierra los grifos: Cuando te cepillas los dientes o mientras lavas los platos, esto ayudara a no gastar agua de manera imprudente.</p>
        <p>Tip 2.- Cuida las fugas: Estar al pendiente de las fugas en tu hogar te ayudara a evitar que se desperdicie agua. </p>
        <p>Tip 3.-No te distraigas bañandote: Procura no tardar mas 10 minutos a la hora de bañarte </p>
        <p>Tip 4.-Aprovecha la lluvia: Puedes dejar una cubeta afuera para que se llene con el agua de la lluvia, esta la podras usar para regar tus plantas. </p>
    </section>

