<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto_final</title>
    <link rel="stylesheet" href="../static/css/style_index.css">
</head>
<body>
    <h1 class="titulo-principal">Eco Aprendizaje</h1>
    <div class="menu">
        <p>Opciones</p>
        <button class="boton" type="button" onclick="window.location.href='/articulo'">Articulos</button>
        <button class="boton" type="button" onclick="alert('No hago nada jejeje')">cuestionarios</button>
    </div>
</body>
</html>
</head>
<body>
    <header class="header">
        <img class="arbol" src="../static/img/arbol.svg" width="250" height="250" alt="post_icon">
        </ul>
      </header>