<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Juegos!!</title>
  <link rel="stylesheet" href="static/css/menu_juego.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="titulo-principal1">
    <p>Juegos</p>
    <button class="boton-imagen" onclick="window.location.href='/index'">
      <img src="../static/img/casa.png" width="50" height="50" alt="pos_icon">
    </button>
    <button class="boton" onclick="window.location.href='/login'">Cerrar sesión</button>
  </div>

  <div class="articulos_contenedor">
    <div class="articulo_caja" style="background-image: url('static/img/grifo.png');">
      <h2 class="articulo_encabezado">Quiz del cuidado del aguar</h2>
      <button class="articulo_interactuar" onclick="window.location.href='/cuestionario'">Ver más</button>
    </div>

    <div class="articulo_caja" style="background-image: url('static/img/memorama_portada.png');">
      <h2 class="articulo_encabezado">Memorama de animales en peligro de extincion</h2>
      <button class="articulo_interactuar" onclick="window.location.href='/tarjetas'">Ver más</button>
    </div>


  </div>
</body>
</html>
