<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registrarse</title>
    <link rel="stylesheet" href="../static/css/style_regi.css">
</head>
<body>
      </header>
      <main class="main-login">
        {% block content %}
        <h1 class="titulo">Eco Aprendizaje</h1>
        <form action="{{ url_for('reg') }}" method="post" class="login">
        <div class="form__group">
            <h1 class="text">Registrarse </h1>
        </div>
            <div class="form__group">
                <label for="email">Correo electrónico</label>
                <input class="form__input" type="email" name="email" id="email" placeholder="Introduzca su e-mail" required>
            </div>

            <div class="form__group">
                <label for="password">Contraseña</label>
                <input class="form__input" type="password" name="password" id="password" placeholder="Introduzca su contraseña" required>
            </div>
            <button class="form__button">Crear una cuenta</button>
        </form>

        {% endblock %}
      </main>
</body>
</html>
